<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-6">
    @if (taskStore.tasks().length > 0) {
        @for (task of taskStore.tasks(); track task) {
            <app-task-card [task]="task"></app-task-card>
        }
    }
</div>
<div class="flex justify-end">
    <button
        (click)="createTask()"
        class="inline-flex items-center space-x-2 px-4 py-2 rounded-md font-medium text-white
           bg-blue-600 hover:bg-blue-700 transition-colors
           focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
        <span>Ajouter une tâche</span>
    </button>

</div>
@if (taskId) {
    <app-task-details [id]="taskId"></app-task-details>
}
