<div class="column-container" [style]="{'border-top': '2px solid' + state().color}">
    <div class="button-container">
        <span [style]="{'background-color': state().color}" class="column-header">
            {{ state().state }}
        </span>
        <button (click)="createTask()" class="add-button">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="icons">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
        </button>
    </div>
    <div class="grid-task-container"
         cdkDropList
         [cdkDropListConnectedTo]="connectedDropLists()"
         (cdkDropListDropped)="dropTask($event)"
         [cdkDropListData]="tasksInThisColumn()"
         id="{{state().state}}">
        @if (tasksInThisColumn().length > 0) {
            @for (task of tasksInThisColumn(); track task) {
                <app-task-card [task]="task"
                               cdkDrag
                               [cdkDragData]="task">
                </app-task-card>
            }
        }
    </div>

    @defer (when !!taskId) {
        @if (taskId) {
            <app-task-details [id]="taskId"></app-task-details>
        }
    } @error {
        <div class="error-message">
            An error occurred while loading task details.
        </div>
    }
</div>



