<div class="column-container" [style]="{'border-top': '2px solid' + state().color}">
    <div class="button-container">
        <span [style]="{'background-color': state().color}" class="column-header">
            {{ state().state }}
        </span>
        <div style="gap:3px; display:flex; align-items:center;">
            <button (click)="createTask()" class="button add-button">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="icons">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
            </button>
            <button
                id="deleteStateButton"
                (click)="deleteState($event)"
                aria-label="Supprimer la colonne"
                class="button delete-button">
                <svg class="icons" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill=none stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3">
                    <path d="m5.75 4.25v-2.5h4.5v2.5m-6.5 1v9h8.5v-9m-9.5-.5h10.5"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="grid-task-container"
         cdkDropList
         [cdkDropListConnectedTo]="connectedDropLists()"
         (cdkDropListDropped)="dropTask($event)"
         [cdkDropListData]="tasksInThisColumn()"
         id="{{state().state}}">
        @if (tasksInThisColumn().length > 0) {
            @for (task of tasksInThisColumn(); track task.id) {
                <app-task-card [task]="task"
                               cdkDrag
                               [cdkDragData]="task">
                </app-task-card>
            }
        }
    </div>

    @defer (when !!taskId) {
        @if (taskId) {
            <app-task-details [id]="taskId"></app-task-details>
        }
    } @error {
        <div class="error-message">
            An error occurred while loading task details.
        </div>
    }
    @defer {
        @if(showDeleteModal()) {
            <app-delete-modal
                [itemType]="this.state().state"
                [itemId]="this.state().id"
                (confirm)="confirmDeleteState()"
                (cancel)="cancelDeleteState()">
            </app-delete-modal>
        }
    }
</div>



