<div class="main-container">
    <div class="grid-container"
         [style.grid-template-columns]="gridColumns()"
         cdkDropList
         (cdkDropListDropped)="dropState($event)">
        @for (state of taskStore.states(); track state.id) {
            <app-task-list-component
                [(modalOpen)]="isModalOpen"
                [cdkDragDisabled]="isModalOpen()"
                cdkDrag
                [cdkDragData]="state"
                [state]="state.state">
            </app-task-list-component>
        }
    </div>
</div>
