<div class="form-container">
    <h2 class="form-title">
        Connexion
    </h2>
    <div></div>
    <form class="space-y-4" (submit)="onSubmit($event)">

        <div>
            <label for="username" class="form-label">
                Username
            </label>
            <input
                [field]="userForm.username"
                [class.form-input-error-border]="showErrors(userForm.username())"
                placeholder="Entrez votre nom d'utilisateur"
                type="text"
                id="username"
                class="form-input">
            <app-form-errors [ref]="userForm.username"></app-form-errors>
        </div>

        @if (isRegisterForm()) {
            <div>
                <label for="role" class="form-label">
                    Rôle
                </label>
                <select
                    id="role"
                    [field]="userForm.role"
                    class="form-input"
                    [class.form-input-error-border]="showErrors(userForm.role())">
                    @for(role of roles; track role) {
                        @if (role === Role.UNKNOWN) {
                            <option [value]="role" disabled>Sélectionner un rôle</option>
                        } @else {
                            <option [value]="role">{{ role }}</option>
                        }
                    }
                </select>
                <app-form-errors [ref]="userForm.role"></app-form-errors>
            </div>
        }

        <div>
            <label for="password" class="form-label">
                Mot de Passe
            </label>
            <input
                [field]="userForm.password"
                [class.form-input-error-border]="showErrors(userForm.password())"
                placeholder="Entrez votre mot de passe"
                type="password"
                id="password"
                class="form-input">
            <app-form-errors [ref]="userForm.password"></app-form-errors>
        </div>

        @if (!isRegisterForm()) {
            <div class="register-container">
                <span class="register-text" (click)="changeFormStateToRegister()">
                    Pas encore de compte ? <b>Inscrivez-vous</b>
                </span>
            </div>
        }

        <div class="pt-4">
            <button
                [disabled]="userForm().invalid()"
                type="submit"
                class="submit-button">
                Se connecter
            </button>
        </div>

    </form>
</div>
