<div class="form-container">
    <h2 class="form-title">
        Tâche
    </h2>
    <div></div>
    <form class="space-y-4" (submit)="onSubmit($event)">
        <div>
            <label for="title" class="form-label">
                Titre
            </label>
            <input
                [field]="taskForm.title"
                [class.form-input-error-border]="showErrors(taskForm.title())"
                type="text"
                id="title"
                placeholder="Faire les courses..."
                class="form-input">
            <app-form-errors [ref]="taskForm.title"></app-form-errors>
        </div>
        <div>
            <label for="description" class="form-label">
                Description
            </label>
            <textarea
                [field]="taskForm.description"
                [class.form-input-error-border]="showErrors(taskForm.description())"
                id="description"
                rows="4"
                placeholder="Acheter du lait, des œufs et du pain."
                class="form-input">
            </textarea>
            <app-form-errors [ref]="taskForm.description"></app-form-errors>
        </div>
        <div>
            <label for="status" class="form-label">
                Statut
            </label>
            <select
                [field]="taskForm.state.state"
                [class.form-input-error-border]="showErrors(taskForm.state.state())"
                id="status"
                class="form-input">
                <option value="A9fZ0c" disabled selected>Sélectionner un statut</option>
                @for (state of stateStore.states(); track state.id) {
                    <option value="{{state.state}}"
                            selected="{{taskForm.state.state().value() === state.state}}">
                        {{state.state}}
                    </option>
                }
            </select>
            <app-form-errors [ref]="taskForm.state.state"></app-form-errors>
        </div>
        <div class="pt-4">
            <button
                [disabled]="taskForm().invalid()"
                type="submit"
                class="submit-button">
                Enregistrer
            </button>
        </div>
    </form>
</div>
