<div class="main-container">
    <div class="grid-container"
         [style.grid-template-columns]="gridColumns()"
         cdkDropList
         cdkDropListOrientation="horizontal"
         (cdkDropListDropped)="dropState($event)">
        @for (state of taskStore.states(); track state.id) {
            <div class="co-container"
                 cdkDragBoundary=".grid-container"
                 [cdkDragDisabled]="isModalOpen()"
                 cdkDrag
                 [cdkDragData]="state">
                <div class="add-state" routerLink="/state/create"></div>
                @defer (on viewport)
                {
                    <app-task-list-component
                        class="drag-container"
                        [(modalOpen)]="isModalOpen"
                        [state]="state.state">
                    </app-task-list-component>
                } @placeholder {
                    <div class="loading-skeleton"></div>
                }
            </div>
        }
    </div>
</div>
