<app-navbar></app-navbar>
<div class="main-container">
    @if (stateStore.states().length > 0) {
        <div class="grid-container"
             [style.grid-template-columns]="gridColumns()"
             cdkDropList
             cdkDropListOrientation="horizontal"
             (cdkDropListDropped)="dropState($event)">
            @for (state of stateStore.states(); track state.id) {
                <div class="co-container"
                     cdkDragBoundary=".grid-container"
                     [cdkDragDisabled]="isModalOpen()"
                     cdkDrag
                     [cdkDragData]="state">
                    <div class="add-state" routerLink="/state/create"></div>
                    <div style="min-width: 100%">
                        @defer (on viewport)
                        {
                            <app-task-list-component
                                class="drag-container"
                                [(modalOpen)]="isModalOpen"
                                [state]="state">
                            </app-task-list-component>
                        } @placeholder {
                            <div class="loading-skeleton"></div>
                        }
                    </div>
                </div>
            }
        </div>
    }
    <div class="button">
        <div routerLink="/state/create">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="icons">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
        </div>
    </div>
</div>
