.main-container {
    padding: 1.5rem;
    background-color: var(--background-main-color);
    min-height: 100vh;
}

.grid-container {
    display: grid;
    gap: 0.5rem;
}

.grid-container .cdk-drag-placeholder {
    background: var(--background-main-color);
    border: 1px dashed #ccc;
    min-height: 50px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    width: 100%;
    opacity: 1;
    content: '';
}

.grid-container.cdk-drop-list-dragging .task-card:not(.cdk-drag-placeholder) {
    opacity: 0.0;
}

.co-container {
    display: flex;
}

.drag-container {
    min-width: 100%;
}

.add-state {
    border: 1px solid var(--background-main-color);
    min-width: 1px;
}

.add-state:hover {
    border: 2px solid white;
    min-width: 2px;
}
