@if (task() !== undefined) {
    <div class="modal-overlay">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    Détails de la Tâche
                </h2>
                <button (click)="closeDetails()" class="modal-close-button">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <label class="field-label">Titre</label>
                    <h3 class="task-title-content">
                        {{ task()?.title || 'Titre non défini' }}
                    </h3>
                </div>
                <div>
                    <label class="field-label">Statut</label>
                    <span class="status-badge" [ngStyle]="{'background-color': task()?.state?.color}">
                  {{ task()?.state?.state?.replace('_', ' ') }}
                </span>
                </div>
                <div>
                    <label class="field-label">Description</label>
                    <p class="task-description-content">
                        {{ task()?.description || 'Aucune description fournie.' }}
                    </p>
                </div>
            </div>

        </div>
    </div>
}
