<div class="form-container">
    <h2 class="form-title">
        Création d'un statut
    </h2>
    <form class="space-y-4" (submit)="onSubmit($event)">
        <div>
            <label for="state" class="form-label">
                Nom du statut
            </label>
            <input
                [field]="stateForm.state"
                [class.form-input-error-border]="showErrors(stateForm.state())"
                placeholder="Entrez le nom du statut"
                type="text"
                id="state"
                class="form-input"/>
            @if (showErrors(stateForm.state())) {
                @for (err of stateForm.state().errors() ; track err.kind) {
                    <div class="form-input-error">
                        {{err.message}}
                    </div>
                }
            }
        </div>
        <div>
            <label for="status-color">Couleur du statut</label>
            <input
                [field]="stateForm.color"
                class="color-picker-input form-input"
                [class.form-input-error-border]="showErrors(stateForm.state())"
                type="color"
                id="status-color"
                value="#800080">
            @if (showErrors(stateForm.state())) {
                @for (err of stateForm.state().errors() ; track err.kind) {
                    <div class="form-input-error">
                        {{err.message}}
                    </div>
                }
            }
        </div>
        <div class="pt-4">
            <button
                [disabled]="stateForm().invalid()"
                type="submit"
                class="submit-button">
                Enregistrer
            </button>
        </div>
    </form>
</div>
