@import "tailwindcss";

:root {
    --main-color: purple;
    --main-color-dark: #563d7c;
    --secondary-color: #6c757d;
    --background-main-color: #18171D;
    --background-sub-color: #43424C2F;
    --background-sub-color-50: rgba(67, 66, 76, 0.04);
    --background-button-color: #ffffff;
    --border-color: #dee2e6;
    --text-color: #343a40;
    --secondary-text-color: #6c757d;
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
}

.status-todo {
    background-color: #fef3c7;
    color: #92400e;
}

.status-inprogress {
    background-color: #dbeafe;
    color: #1e40af;
}

.status-done {
    background-color: #d1fae5;
    color: #065f46;
}

.icons {
    min-height: 20px;
    min-width: 20px;
}

/** Form Styles **/

.form-container {
    max-width: 32rem;
    margin: 0 auto;
    margin-top: 2.5rem;
    padding: 2rem;
    background-color: var(--background-button-color);
    border-radius: 0.75rem;
}

.form-title {
     text-align: center;
     text-transform: uppercase;
     font-size: 1.5rem;
     font-weight: bold;
     margin-bottom: 1.5rem;
 }



.form-label {
    display: block;
    margin-bottom: 0.5rem;
    color: #364153;
}

.form-input {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    padding: 0.5rem 0.75rem;
    background-color: var(--background-button-color);
    border: 1px solid var(--background-sub-color);
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.form-input:focus {
    outline: none;
    border-color: var(--main-color);
    box-shadow: 0 0 0 2px var(--main-color-dark);
}

.form-input-error {
    color: var(--error-color);
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 0.25rem;
}

.form-input-error-border {
    border: 1px solid var(--error-color);
    box-shadow: 0 0 0 2px var(--error-color);
}


.submit-button {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0.5rem 1rem;
    color: var(--background-button-color);
    background-color: var(--main-color);
    border: 1px solid transparent;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.submit-button:hover {
    background-color: var(--main-color-dark);
}

.submit-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--main-color);
}

.submit-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
